* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgba(163, 180, 162, 0.3);
}

/*
nav {
    height: 40px;
    background-color: $color1;
    ul {
        height: 100%;
        width: 45%;
        a {
            height: 100%;
            display: block;
            color: $white;
            text-align: center;
            line-height: 20px;
            min-width: 15%;
            padding: 0 10px;
            text-decoration: none;
            float: left;
            li {
                list-style: none;
                display: block;
                margin-top: 10px;
            }
        }
        a#logo{
            margin: 0 50px;
            min-width: 40px;
            padding: 0;
            width:40px;
            li {
                height: 40px;
                width: 40px;
                margin: 0;
            }
            img {
                height: 40px;
            }
        }
        a:hover, div#login-button:hover{
            background: rgba($color: #fff, $alpha: 0.2);
            cursor: pointer;
        }
    }
    div#login-button {
        display: block;
        width: 80px;
        float: left;
        margin-right: 10px;
        height: 40px;
    }
}*/
nav {
  background: #2589bd;
  height: 40px;
}
nav ul {
  height: inherit;
}
nav ul li {
  float: left;
  min-width: 10%;
  text-align: center;
  list-style: none;
  height: inherit;
}
nav ul li img {
  width: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #FAFAFA;
  display: block;
  height: 20px;
  padding: 10px;
}
nav ul li a#logo {
  padding: 0;
  margin-left: 30px;
  height: 40px;
}
nav ul li.floatright {
  float: right;
  display: block;
  min-width: 30%;
}
nav ul li.floatright input {
  float: left;
  height: 38px;
  margin: 1px 0px;
}
nav ul li.floatright a#login-button {
  padding: 10px 40px;
  min-width: 20%;
  cursor: pointer;
  float: right;
}
nav ul a:hover {
  background-color: rgba(250, 250, 250, 0.1);
}

div#login {
  position: absolute;
  width: 40%;
  min-width: 300px;
  left: 30%;
  height: 300px;
  top: 150px;
  background-color: #2589bd;
  display: none;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 0 0 5%;
  box-sizing: border-box;
}
div#login #close {
  float: right;
  font-size: 200%;
  cursor: pointer;
  margin-right: 9px;
}
div#login form {
  margin: 20px auto 0;
}
div#login form .label {
  margin-top: 10px;
}
div#login form .label label {
  margin-right: 20px;
}
div#login .bts {
  position: absolute;
  bottom: 10px;
}
div#login .bts a {
  margin-right: 20px;
}
div#login .bts button {
  border-radius: 5px;
  padding: 5px 15px;
  background: #a3b4a2;
}

div#main {
  padding-top: 30px;
  margin: auto;
  width: 90%;
  max-width: 1000px;
  min-width: 400px;
  overflow: auto;
}

div.listings {
  background: #187795;
}
div.listings div.listing-card {
  margin: 30px 0 30px 5%;
  height: 400px;
  width: 42%;
  min-width: 300px;
  box-sizing: border-box;
  padding: 10px 5%;
  float: left;
  background: #2589bd;
  border-radius: 5px;
  overflow: hidden;
}
div.listings div.listing-card img {
  box-sizing: border-box;
  border: 3px solid rgba(163, 180, 162, 0.3);
  margin: 5px 0;
  width: 100%;
  display: block;
  margin: auto;
  overflow: hidden;
}

.mid {
  text-align: center;
}

.hidden {
  display: none;
}

p#alert {
  background: #fa1010;
  text-align: center;
  position: fixed;
  top: 45px;
  width: 80%;
  padding: 0;
  margin: 0 10%;
  display: none;
  border-radius: 5px;
  z-index: 1000;
}

div#profile {
  background: #2589bd;
  display: none;
  max-width: 200px;
  position: absolute;
  right: 1px;
  top: 41px;
  border-radius: 5px;
}
div#profile ul li {
  color: #FAFAFA;
  padding: 5px 0;
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
}
div#profile ul li::hover {
  background-color: rgba(250, 250, 250, 0.1);
}

ul.outer-list {
  width: 100%;
}
ul.outer-list li.outer-li {
  margin-bottom: 5px;
  width: 100%;
}
ul.outer-list li.outer-li ul.inner-list li.li-name {
  display: inline-block;
  width: 20%;
}
ul.outer-list li.outer-li ul.inner-list li.li-country {
  margin-left: 50px;
  display: inline-block;
  width: 20%;
}
ul.outer-list li.outer-li ul.inner-list li.li-founded {
  display: inline-block;
  width: 20%;
  float: right;
}

/*# sourceMappingURL=index.css.map */
